<section class="app-header main-layout">
    <h2 class="logo">Mr.BitCoin<span>.</span></h2>
    <div class="nav-list">
        <button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="btn bubbly-button btn-home">Home</button>
        <button routerLink="/contact" routerLinkActive="active" class="btn bubbly-button btn-contacts" >Contacts</button>
        <button routerLink="/dashboard" routerLinkActive="active" class="btn bubbly-button btn-dashboard">Dashboard</button>
        <!-- <button routerLink="/" class="btn bubbly-button btn-logout">Logout</button> -->
    </div>
</section>